<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChEYZ4UTCkMwVqW7pQtrNxm55pbPu0hnw&sensor=true">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(
42.347063, -71.081243),
          zoom: 14,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          scrollwheel: false,
          noClear: true,
          draggable: false
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
   </script>


<section id="welcome">

    <div id="user_nav">
  		<% if current_user %>
    		Signed in as <strong><%= current_user.name %></strong>!
    	<%= link_to "Sign out", signout_path, :id  => "sign_out" %>
  		<% else %>
    	<%= link_to "Sign in with Facebook", "/auth/facebook", :id  => "sign_in" %>
  	<% end %>
	</div>


	<div class="row">
		<div id="logo" class="small-5 small-centered columns"><%= image_tag("logo.png", :alt => "twitter") %></div>
		<div class="small-11 small-centered columns headlines">
			<h1 id="headline">Food For Thought</h1>
			<h2 id="sub-headline">Casual conversations over dinner with 	entrepreneurs</h2>
			<div class="button-bar">
				<button id="invite button left"> Request An Invitation</button>
				<p id='or' class="left">- OR -</p>
				<button id="invited button left">Enter Invite Number</button>
			</div>
		</div>
	</div>
</section>

<section id="upcoming">
	<div class="row">

		<div class="small-12 large-4 columns">
			<h2 class="section-title">Upcoming Events</h2>
		</div>
		
		<div class="small-12 large-8 columns">
			<div class="entrprnr">
				<div class="imgtag circular left small-12 large-4  columns"></div>
				<div class="small-12 large-8 columns holder">
					<h3 class="name left">
						Paul English
						<span class="title"> CTO Kayak</span>
					</h3>
					<h6 class="des"></h6>
					<div class="social left">
						<a href="twitter.com"> <%= image_tag("twitter.png", :alt => "twitter") %></a>
						<a href="gplus.com"> <%= image_tag("gplus.png", :alt => "twitter") %></a>
						<a href="facebook.com"> <%= image_tag("facebook.png", :alt => "twitter") %></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="where">
	<div id="map-canvas"></div>
		<div class="row">
			<div class="mapbox">
				<h2 class="section-title">Where</h2>
				<h4 class="place">Five Napkin Burger</h4>
				<h6 class="address street">105 Huntington Avenue</h6>
				<h6 class="address city">Boston, MA 02199</h6>
			</div>
		</div>
	
</section>

<footer id="footer">
	<div class="row">
		<div class="menu left small-12 large-8  ">
			<ul>
				<li>Invitation</li>
				<li class="hide-for-small">Next Event</li>
				<li>Past Events</li>
				<li>About Us</li>
			</ul>
		</div>

		<div class="right small-12 large-4 ">
			<p class="copyright" >© 2013 Food For Thought Boston</p>
		</div>
	</div>
</footer>
